<!DOCTYPE html>
<html lang="it" dir="ltr">

<head>
    <link rel="stylesheet" href="../static/css/main_page.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <title>ProgettoPFG_Motorizzazione</title>
    <script src="https://kit.fontawesome.com/0b3c862c21.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body >
<header id="header">
    Aggiungi
</header>
    <div class="container mt-4"> 
        <div class="ricercasx">
            <div class="nav">
                <nav>
                    <ul>
                        <li><a class="active" href="/"><i class="fa fa-home"></i></a></li>
                        <li><a href="/targa">Targa <i class="fa fa-drivers-license-o"></i></a></li>
                    </ul>
                </nav>
            </div>
            <div class="filtro"></div>
        </div>
        <div class="risultato">
            <div id="overlay1"></div>
            <div id="hiddenDiv1">
                <p><b id="testo1">{% if error %}{{ error }}{% elif success %}{{ success }}{% endif %}</b></p>
            </div>
            <form name="form_ricerca" method="post">
                {% csrf_token %}
                Aggiungi una nuova Targa: <br>
                <input type="search" name="NumTarga" placeholder=" Targa" pattern="[A-Za-z0-9]+"
                    title="Inserisci solo lettere e numeri" maxlength="7" minlength="7"
                    oninput="convertToUpperCase(this)" required>
                <i class="fa fa-automobile"></i><br><br>

                Aggiungi data di emissione:<br>
                <input type="date" name="dataEM" required><br><br>

                Seleziona il tipo di targa:<br>
                <input type="radio" name="radiotarga" value="targheatt" id="radioatt" required>Targa attiva<br>
                <input type="radio" name="radiotarga" value="targherest" id="radiorest" required>Targhe
                restituita<br><br>

                Seleziona il numero di telaio del veicolo a cui associare la targa (il numero del telaio deve essere già
                presente nella tabella Veicolo):<br>
                <input type="number" name="telaio" placeholder="Telaio veicolo associato" min="100000" max="1000000"
                    required><br><br>

                Aggiungi l'eventuale data di restituzione:<br>
                <input type="date" name="datares" id="datarest"><br><br>

                <button class="btn"><i class="fa fa-plus-square-o"></i> Aggiungi</button>
            </form>
        </div>
    </div>
{% include 'footer.html' %}

</body>

</html>

