<!DOCTYPE html>
<html lang="it" dir="ltr">
<head>
    <link rel="stylesheet" href="../static/css/main_page.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/0b3c862c21.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>ProgettoPFG_Motorizzazione</title>
</head>
<body>
    {% with num_revisione="" num_targa="" data_re="" posneg="" valore_ordinamento="" %}
    <header id="header">
        Revisione
     </header>
    <div class="container-fluid">
        <div class="row" >
            <div class="ricercasx col-sm-3 p-2">
                <div class="nav" >
                    {% include 'nav.html' %}
                </div>
                <div class="filtro" >
                    <form name="form_ricerca" method="post">
                        {% csrf_token %}
                        <fieldset>
                            <legend>Filtro Ricerca per:</legend>
                            <input type="number" name="numerorevisione" min="1" max="1000" placeholder="Numero di revisione"><br>
                            <input type="text" name="numerotarga" placeholder="Targa" pattern="[A-Za-z0-9]+" title="Inserisci solo lettere e numeri" minlength="7" maxlength="7"><i class="fa fa-automobile"></i><br><br>
                            Data della revisione:
                            <input type="date" name="datarevisione" placeholder="Data della revisione"><br><br>
                            Esito:<br>
                            <input type="radio" name="esito" value="positivo"> Positivo <br>
                            <input type="radio" name="esito" value="negativo"> Negativo <br>
                            <input type="radio" name="esito" value="indifferente" checked> Indifferente <br><br>
                            <label for="scelta">Ordina per:</label>
                            <select id="ordinamento" name="scelta">
                                <option value="ordinamentoNullo" selected>Nessun ordinamento</option>
                                <option value="ordinaNumeroRev">Numero di revisione</option>
                                <option value="ordinaNumeroTarga">Numero di targa</option>
                                <option value="ordinaPositivo">Prima i positivi</option>
                                <option value="ordinaNegativo">Prima i negativi</option>
                            </select>
                            <br>
                            <input type="submit" name="bottonericerca" value="Cerca">&nbsp;&nbsp;<i class="fa fa-search"></i><br>
                            <input type="reset" name="bottonericerca" value="Resetta">
                        </fieldset>
                    </form>
                </div>
            </div>
            
                <div class="risultato col-sm-9 "style="padding-top:25px">
                <div class="table-container">
                    <table class="table table-responsive">
                        <tr class="header">
                            <th>IdRevisione</th>
                            <th>Targa</th>
                            <th>Data Revisione</th>
                            <th>Esito</th>
                            <th>Motivazione</th>
                        </tr>
                        {% for riga in result %}
                        <tr>
                            <td>{{ riga.0|default_if_none:"" }}</td>
                            <td>{{ riga.2|default_if_none:"" }}</td>
                            <td>{{ riga.1|default_if_none:"" }}</td>
                            <td>{{ riga.3|default_if_none:"" }}</td>
                            <td>{{ riga.4|default_if_none:"" }}</td>
                        </tr>
                        {% endfor %}
                    </table>
               </div>
            </div>
        </div>
    {% include 'Footer.html' %}
    {% endwith %}
</body>
</html>
 