<!DOCTYPE html>
<html lang="it" dir="ltr">
<head>
    <link rel="stylesheet" href="../static/css/main_page.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <title>ProgettoPFG_Motorizzazione</title>
    <script src="https://kit.fontawesome.com/0b3c862c21.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../js/crud.js"></script>
    <script type="text/javascript" src="../js/jquery-2.0.0.js"></script>
    <script type="text/javascript" src="../js/controlli.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    {% with numTarga="" dataEM="" radiocheck="" valoreordinamento="" count_revisioni=0 %}
    <header id="header">
        Targa
     </header>
    <div class="container-fluid" style="display: flex; flex-direction: column; height: 100vh;">
        <div class="row" style="display: flex; flex: 1;">
            <div class="ricercasx col-sm-3 p-2" style="background-color: #81715b; padding: 15px; flex-direction: column;">
                <div class="nav" style="flex: 1;">
                    {% include 'nav.html' %}
                </div>
                <div class="filtro">
                    <form name="form_ricerca" method="post">
                        {% csrf_token %}
                        <fieldset>
                            <legend>Filtro Ricerca per:</legend>
                            <input type="search" name="numerotarga" placeholder=" Targa" pattern="[A-Za-z0-9]+" title="Inserisci solo lettere e numeri" maxlength="7">
                            <i class="fa fa-automobile"></i><br>
                            Data di emissione:<br>
                            <input type="date" name="dataemtarga"><br><br>
                            <input type="radio" name="radiofiltrotarga" value="targheatt">Targhe attive<br>
                            <input type="radio" name="radiofiltrotarga" value="targherest">Targhe restituite <br>
                            <input type="radio" name="radiofiltrotarga" value="targhetutte" checked>Tutte le targhe <br><br>
                            <label for="scelta">Ordina per:</label>
                            <select id="ordinamento" name="scelta">
                                <option value="ordinamentoNullo" selected>Nessun ordinamento</option>
                                <option value="ordinaDataEm">Data di Emissione</option>
                                <option value="ordinaNumeroTarga">Numero di targa</option>
                            </select>
                            <br>
                            <input type="submit" name="bottonericerca" id="bottonericerca" value="Cerca">&nbsp&nbsp;<i class="fa fa-search"></i><br>
                            <input type="reset" name="bottonericerca" value="Resetta">
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="risultato col-sm-9 p-2" style="background-color: #D9CDAF; padding: 20px; display: flex; flex-direction: column; overflow-y: auto; overflow-x: auto;">
                <div id="overlay"></div>
                <div id="hiddenDiv">
                    <p>Sei sicuro di voler eliminare questa targa?</p>
                    <p id="numeroTarga"></p>
                    <button onclick="Annulla()" id="bottoneAnnulla">Annulla</button>
                    <button onclick="Elimina()" id="bottoneElimina">Elimina</button>
                </div>
                <div id="overlay2"></div>
                <div id="hiddenDiv2">
                    <p><b id="testo2"></b></p>      
                </div>
                <a href="aggiungi.php"><i id="icona_aggiungi" class="fa fa-plus-square-o"></i></a>
                <table class="table">
                    <tr class="header">
                        <th>Targa</th>
                        <th>Data Emissione</th>
                        <th>Stato della targa</th>
                        <th>Data Restituzione</th>
                        <th># Revisioni Effettuate</th>
                        <th>Telaio Veicolo</th>
                        <th>Modifica</th>
                        <th>Elimina</th>
                    </tr>
                    {% for riga in result %}
                        <tr>
                            <td>{{ riga.0 }}</td>
                            <td>{{ riga.1 }}</td>
                            <td>{{ riga.5 }}</td>
                            <td>{{ riga.6 }}</td>
                            <td>{{ riga.2 }}</td>
                            {% if riga.5 == "Attiva" %}
                                <td>{{ riga.4 }}</td>
                            {% else %}
                                <td>{{ riga.3 }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    {% include 'Footer.html' %}
    {% endwith %}
</body>
</html>
